.example-container {
    position: relative;
    padding: 5px;
  }
  
  .example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .mat-flat-button {
    margin: 5px;
  }

  /*DL, DT, DD TAGS LIST DATA*/
dl {
  margin-bottom:50px;
}

dl dt {
  float:left; 
  font-weight:bold; 
  margin-right:10px; 
  padding:5px;  
  width:100px; 
}

dl dd {
  margin:2px 0; 
  padding:5px 0;
}